@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}
input[type='text'] { 
    font-size: 18px; 
}
input[type='password'] { 
    font-size: 18px; 
}
/*Estilos del login*/
.login {
    background-image: url("../../../Proyecto4_Mapas/storage/app/public/uploads/fondoiniciosesion.webp");
    overflow: hidden;
    background-size: cover;
}

.all-view{
    height: 100vh;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.flex-cv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

/*ESTILOS DEL LOGIN*/
.cuadro_login {
    width: 50%;
    padding-bottom:1%;
    background: white;
    border: 5px solid black;
    align-items: center;
    align-content: center;
    text-align: center;
}
.h1_login {
    padding-top: 3%;
    font-size: 35px;
}
.msgregistrarse{
    font-size:20px;
}
.input_login {
    width: 60%;
    height: 45px;
    margin-bottom: 1rem;
    border-radius: 7px;
    border-color: black;
    background-color: white;
    outline: none;
}
.boton_login {
    width: 60%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_login:hover {
    background: cadetblue;
    color: #fff !important;
}

.boton_registro {
    width: 40%;
    height: 45px;
    border-radius: 7px;
    border-color: red;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_registro:hover {
    background: red;
    color: #fff !important;
}

/* FIN ESTILOS DEL LOGIN*/
/*ESTILOS DEL REGISTRO DE USUARIOS*/
.cuadro_registro {
    width: 50%;
    padding-bottom:1%;
    background: white;
    border: 5px solid black;
    align-items: center;
    align-content: center;
    text-align: center;
}
.input_registro {
    width: 50%;
    height: 40px;
    margin-bottom: 1rem;
    border-radius: 7px;
    border-color: black;
    background-color: white;
    outline: none;
}
.boton_login_registro {
    width: 40%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 30px;
    outline: none;
}

.boton_login_registro:hover {
    background: cadetblue;
    color: #fff !important;
}

.boton_registro_registro {
    width: 50%;
    height: 45px;
    border-radius: 7px;
    border-color: red;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_registro_registro:hover {
    background: red;
    color: #fff !important;
}
/*FIN ESTILOS DEL REGISTRO DE USUARIOS*/
/*ESTILOS INDEX GIMCANA*/
.cuadro_index_gimcana {
    width: 50%;
    padding-bottom:2%;
    background: white;
    border: 5px solid black;
    align-items: center;
    align-content: center;
    text-align: center;
}

.boton_jugar_solo {
    width: 40%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_jugar_solo:hover {
    background: cadetblue;
    color: #fff !important;
}  
.boton_jugar_equipo {
    width: 40%;
    height: 45px;
    border-radius: 7px;
    border-color: palegreen;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_jugar_equipo:hover {
    background: palegreen;
    color: #fff !important;
} 
/*FIN ESTILOS INDEX GIMCANA*/
/*ESTILOS CREAR EQUIPO GIMCANA*/
.cuadro_crear_equipo {
    width: 50%;
    padding-bottom:1%;
    background: white;
    border: 5px solid black;
    align-items: center;
    align-content: center;
    text-align: center;
}
.input_crear_equipo {
    width: 60%;
    height: 40px;
    margin-bottom: 1rem;
    border-radius: 7px;
    border-color: black;
    background-color: white;
    outline: none;
}
.boton_crear_equipo {
    width: 60%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_crear_equipo:hover {
    background: cadetblue;
    color: #fff !important;
}

.boton_volver_equipo {
    width: 40%;
    height: 45px;
    border-radius: 7px;
    border-color: red;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    outline: none;
}

.boton_volver_equipo:hover {
    background: red;
    color: #fff !important;
}
/*FIN ESTILOS CREAR EQUIPO GIMCANA*/
/*ESTILOS UNIRSE A UN EQUIPO GIMCANA*/
.cuadro_unir_equipo {
    width: 40%;
    padding-bottom:1%;
    background: white;
    border: 5px solid black;
    align-items: center;
    align-content: center;
    text-align: center;
}
.input_unir_equipo {
    width: 60%;
    height: 40px;
    margin-bottom: 1rem;
    border-radius: 7px;
    border-color: black;
    background-color: white;
    outline: none;
}
.boton_unir_equipo {
    width: 60%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_unir_equipo:hover {
    background: cadetblue;
    color: #fff !important;
}

.boton_control_panel {
    width: 40%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: none;
}

.boton_control_panel:hover {
    background: cadetblue;
    color: #fff !important;
} 
/*FIN ESTILOS UNIRSE A UN EQUIPO GIMCANA*/
/*ESTILOS PANEL ADMINISTRADOR*/
.cuadro_admin{
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom:2%;
    background: white;
    border: 5px solid black;
    align-items: center;
    align-content: center;
    text-align: center;
}
.boton_atras_admin{
    width: 12%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
    margin-left:75%;
    margin-top: 1%;
}
.boton_atras_admin:hover {
    background: cadetblue;
    color: #fff !important;
}
.boton_logout_admin{
    width: 12%;
    height: 45px;
    border-radius: 7px;
    border-color: red;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.boton_logout_admin:hover {
    background: red;
    color: #fff !important;
}
.boton_modificar{
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.boton_modificar:hover {
    background: cadetblue;
    color: #fff !important;
}
.boton_eliminar{
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border-color: red;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.boton_eliminar:hover {
    background: red;
    color: #fff !important;
}
.menuder{
    width: 100%;
    float: right;
    margin-bottom: 2%;
}
.input_filtro{
    width: 21%;
    height: 40px;
    margin-bottom: 1rem;
    border-radius: 7px;
    border-color: black;
    background-color: white;
    outline: none;
}
.contenido_admin{
    margin-left: 3%;
    margin-right: 3%;
}
.boton_crear_user{
    width: 50%;
    height: 45px;
    border-radius: 7px;
    border-color: cadetblue;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;
}
.boton_crear_user:hover{
    background: cadetblue;
    color: #fff !important;
}
/*FIN ESTILOS PANEL ADMINISTRADOR*/
@media (max-width: 480px) {

    /*ESTILOS DE LOGIN*/
    .cuadro_login {
        width: 100%;
        background: white;
        border: 5px solid black;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .input_login {
        width: 80%;
        height: 45px;
        margin-bottom: 1rem;
        border-radius: 7px;
        border-color: black;
        background-color: white;
        outline: none;
    }
    .boton_login {
        width: 83%;
        height: 45px;
        border-radius: 7px;
        border-color: cadetblue;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: none;
    }
    /*FIN DE ESTILOS DEL LOGIN*/
    /*ESTILOS DEL REGISTRO DE USUARIOS*/
    .cuadro_registro {
        width: 100%;
        padding-bottom:2%;
        background: white;
        border: 5px solid black;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .input_registro {
        width: 90%;
        height: 40px;
        margin-bottom: 1rem;
        border-radius: 7px;
        border-color: black;
        background-color: white;
        outline: none;
    }
    .boton_login_registro {
        width: 90%;
        height: 45px;
        border-radius: 7px;
        border-color: cadetblue;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 30px;
        outline: none;
    }
    .boton_registro_registro {
        width: 90%;
        height: 45px;
        border-radius: 7px;
        border-color: red;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: none;
    }
    /*FIN ESTILOS DEL REGISTRO DE USUARIOS*/
    /*ESTILOS INDEX GIMCANA*/
    .cuadro_index_gimcana {
        width: 100%;
        padding-bottom:2%;
        background: white;
        border: 5px solid black;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    
    .boton_jugar_solo {
        width: 90%;
        height: 45px;
        border-radius: 7px;
        border-color: cadetblue;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: none;
    }
    .boton_jugar_equipo {
        width: 90%;
        height: 45px;
        border-radius: 7px;
        border-color: palegreen;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: none;
    }
    /*FIN ESTILOS INDEX GIMCANA*/
    /*ESTILOS CREAR EQUIPO GIMCANA*/
    .cuadro_crear_equipo {
        width: 100%;
        padding-bottom:1%;
        background: white;
        border: 5px solid black;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .input_crear_equipo {
        width: 90%;
        height: 40px;
        margin-bottom: 1rem;
        border-radius: 7px;
        border-color: black;
        background-color: white;
        outline: none;
    }
    .boton_crear_equipo {
        width: 90%;
        height: 45px;
        border-radius: 7px;
        border-color: cadetblue;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: none;
    }
    .boton_volver_equipo {
        width: 90%;
        height: 45px;
        border-radius: 7px;
        border-color: red;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 20px;
        outline: none;
    }
    /*FIN ESTILOS CREAR EQUIPO GIMCANA*/   
    /*ESTILOS UNIRSE EQUIPO GIMCANA*/
    .cuadro_unir_equipo {
        width: 100%;
        padding-bottom:1%;
        background: white;
        border: 5px solid black;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .input_unir_equipo {
        width: 90%;
        height: 40px;
        margin-bottom: 1rem;
        border-radius: 7px;
        border-color: black;
        background-color: white;
        outline: none;
    }
    .boton_unir_equipo {
        width: 90%;
        height: 45px;
        border-radius: 7px;
        border-color: cadetblue;
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.5s ease;
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        outline: none;
    }
    /*FIN ESTILOS UNIRSE EQUIPO GIMCANA*/
}